header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction:row-reverse;
    background-color: #7c7a7a00;
}

header li {
    float: right;
}

header li a {
    display: block;
    color: #494D5B;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}


#resume a{
    margin-left: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-right: 1em;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    background-color: #FF5D73;
    color: #FFFFFF;
}




