h1 {
    font-size : 5em;
}

body{
    background-color: #B3CEE5;
    color: rgb(48, 47, 47);

}
#profile_pic{
    border-radius: 50%;
    height: 40%;
}

.social_icon{
    height: 50px;
    padding: 10px;
}

a{
    color:navy;
    text-decoration: none;
}

/* VARIOUS SIZING UNITS
    px,
    em, rem,
    %,
    in, cm
    vh, vw  : relative to size of the screen 
*/
